.landing_background {
  position: relative;
  background-image: url("/assets/landing-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;

  p {
    display: block;
    color: white;
    white-space: pre-line;
  }
}

.landing_text {
    position: absolute;
    left: 5%;

    & p {
        margin-bottom: 15px;
    }
}

.landing_recent_posts {
    min-height: 100vh;
}